<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="Test1">
        <classes>
            <class name="ua.foxminded.scarb.test.ScarbHomePageTest"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="ua.foxminded.scarb.test.ScarbHomeButtonTest"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="ua.foxminded.scarb.test.SuccessStoryPageTest"/>
        </classes>
    </test>
    <test name="Test4">
        <classes>
            <class name="ua.foxminded.scarb.test.VolunteerPageTest1"/>
        </classes>
    </test>
    <test name="Test5">
        <classes>
            <class name="ua.foxminded.scarb.test.VolunteerPageTest2"/>
        </classes>
    </test>
</suite>